@using FoodHealthModulo2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Iniciar Sesion</h5>
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <form class="form-signin">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = " control-label" })
                                            <div class="form-label-group">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "control-label " })
                                            <div class="form-label-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                                            <div class="form-label-group">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="form-group text-center">
                                            <div class="col-md-offset-2 col-md-13">
                                                <input type="submit" value="Iniciar sesión" class="btn btn-lg btn-outline-success btn-block-text-uppercase" />
                                            </div>
                                        </div>
                                    </form>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}