@model AppEmpleados.Models.SupplierProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupplierProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
