<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template -->
    <link href="~/re/grayscale.css" rel="stylesheet" />
    <link href="~/dis/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/dis/css/grayscale.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top text-black" id="mainNav" >
        @Html.ActionLink("Food Health", "Index", "Home", new { area = "" }, new { @class = "navbar-brand js-scroll-trigger" })
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Acerca", "About", "Home", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link js-scroll-trigger" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Chef
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                        @Html.ActionLink("Alimentos", "Index", "Foods", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Detalle de Alimentos", "Index", "FoodDetails", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Tipo de Alimento", "Index", "FoodTypes", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Generar Plato", "Index", "Plate/NewPlato", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Tipo de Documento(ejm)", "Index", "DomentTypes", new { area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Cliente(ejm)", "Index", "Customers", new { area = "" }, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cocinero
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                        @Html.ActionLink("Platos A Cocinar", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="nav-item dropdown" style="margin-right: 90px">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cliente
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                        @Html.ActionLink("Ver Menú", "Index", "Home", new { area = "" }, new { @class = "dropdown-item" })

                    </div>
                </li>
            </ul>
        </div>
    </nav>

        @RenderBody()
    <script src="~/dis/vendor/jquery/jquery.min.js"></script>
    <script src="~/dis/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Plugin JavaScript -->
    <script src="~/dis/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/dis/js/grayscale.min.js"></script>


</body>
</html>
