@model IEnumerable<FoodHealthModulo2.Models.Foods.FoodPreparation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Food.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodPreparationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodPreparationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodPreparationID })
        </td>
    </tr>
}

</table>
