@model FoodHealthModulo2.Models.Foods.Food

@{
    ViewBag.Title = "Details";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="container-fluid rounded" style="background-color: #F5F5F5 ;">
            <h4 style="padding-top:80px">Detalles de Alimento</h4>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FoodType.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FoodType.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>
            
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.FoodID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Volver a la Lista", "Index", new { }, new { @class = "btn btn-secondary" })
            </p>
            </div>
            <br />
        </div>
</header>