@model IEnumerable<FoodHealthModulo2.Models.Foods.FoodType>

@{
    ViewBag.Title = "Index";
}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="container-fluid">
            <p style="padding-top:80px">
                @Html.ActionLink("Nuevo Alimento", "Create", new { }, new { @class = "btn btn-success" })
            </p>
            <table class="table table-striped table-dark table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.FoodTypeID }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.FoodTypeID }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.FoodTypeID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</header>
